header
{
    background-color: red;
    height: 330px;
    width: 1200px;
    float: left;
    list-style: none;
}
.seccion1
{
    margin: 5px;
    padding: 10px;
}
nav
{
    background-color: red;
    height: 330px;
    width: 1200px;
    float: left;
    list-style: none;
}
main
{
    background-color: red;
    height: 330px;
    width: 1200px;
    float: left;
    list-style: none;
}
footer
{
    background-color: red;
    height: 100px;
    width: 1200px;
    float: left;
    list-style: none;
}