header
{
    width: 1500px;
    height: 50px;
    background-color: black;
}

.imagen
{
    float: left;
    padding: 100px;
    background-color: lightgreen;
    border: 7px solid black;
    margin: 10px;
    border-radius: 10px;
}

nav
{
    width: 1500px;
    height: 500px;
    background-color: lightyellow; 
}

main
{
    width: 1500px;
    height: 500px;
    background-color: lightyellow;
}
.titulo
{
    margin: 5px;
    padding-top: 10px;
}
footer
{
    width: 1500px;
    height: 50px;
    background-color: black;
}
